
*{
    margin: 0;
    padding: 0;
}
.box1{
    height: 600px;
    width: 600px;
    border: 5px solid black;
    background-color: blue;
}
.box2{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    margin-left: 40px;
    margin-top: 40px;
    background-color: deeppink;
}
.box3{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    margin-left: 40px;
    margin-top: 40px;
    background-color: darkgreen;
}
.box4{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    margin-left: 40px;
    margin-top: 40px;
    background-color: gold;
}
.box5{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin-left: 40px;
    margin-top: 40px;
    background-color: dodgerblue;
}
.box6{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin-left: 40px;
    margin-top: 40px;
    background-color: darkslategray;
}
.box7{
    height: 50px;
    width: 50px;
    border: 5px solid black;
    margin-left: 20px;
    margin-top: 20px;
    background-color: lawngreen;
}